.white{
	color: white;
}

#accesibilidad-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: #E91E63; /* Color rosa rojizo */
  color: #fff;
  font-size: 1.5rem;
  z-index: 100;
}

.accesibilidad {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px;
  z-index: 1000;
  border-radius:5px;
  border-style: solid ;
  border-color:#E91E63;
  background-color: white;

}



.accesibilidad h2 {
	color: #E91E63;
  padding: 5px;
  font-size: 18px;
  text-align:center;
}

.fa-times{
  font-size: 1em;
}
.accessibility-close {
  background-color: #F1356D;
  border: none;
  border-radius: 35%;
  margin: 0.1rem;
  width: 1rem;
  height: 1rem;
  position: relative;
  float: right;
}

.accessibility-close:hover {
  cursor: pointer;
}


.lista-acc {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-acc li {
  margin: 0 10px;
  margin-bottom: 5px;
}


.alto-contraste {
  background-color: black;
  color: white;
}

.tamano-grande {
  font-size: 1.2em;
}
