.titulo1 {
	font-family: Futura;
	font-size: 35px;
}

.titulo2 {
	font-family: Verdana, monospace;
	font-size: 30px;
	font-weight: bold;
}

.rectangulo1 {
	margin-top: 40px;
	background-color: #f2f2f2;
	height: 130px;
	width: 100vm;
	padding: 2px;
}

.rectangulo2 {
	background-color: #800080;
	height: 10px;
	width: 100vm;
}

.t1, .t2, .t3 {
	margin-left: 15px;
	font-family: Verdana;
	font-size: 10px;
}

.t1 {
	line-height: 1;
	font-family: Monaco;
	font-size: 20px;
}

.t3 {
	margin-top: 40px;
}

body a {
	text-decoration: none;
	color: black;
}