div#cabecera {
	padding: 30px;
	height: 150px;
	text-align: center;
}


div.saludo {
	width: 100%;
	text-align: right;
	font-size:20px;
}

.paginas{
	display: flex; //imagen y titulo se alinean y mueven juntos
	align-items: center; //centrado verticalmente
	flex-direction: column;
	justify-content: center; //centrado horizontalmente
	height: 100vh; //altura del contenedor como el 100% de la ventana
}

.horizontal{
	display: flex;
	list-style: none;
}

.horizontal li{
	font-size: 20px;
	margin: 0px;
}

.horizontal li a {
  text-decoration: none;
  color: #333;
  padding: 0px 10px;
}

.contenedor {
	display: flex; //imagen y titulo se alinean y mueven juntos
	align-items: center; //centrado verticalmente
	flex-direction: column;
	justify-content: center; //centrado horizontalmente
	height: 100vh; //altura del contenedor como el 100% de la ventana
}

.logo {
	width: 90px;
	height: 90px;
}

.titulo{
	font-size: 36px;
	text-align: center;
}

