div#cabecera {
	padding: 30px;
	height: 150px;
	text-align: center;
}


div.saludo {
	width: 100%;
	text-align: right;
	font-size:20px;
}


ul.horizontal{
margin:0;
padding:0;
}

ul.horizontal li{
font-size:20px;
display:block;
float:left;
padding:0 80px;

}