#contacto-form {
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

#contacto-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#contacto-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#contacto-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#contacto-form input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}

#contacto-form label.izq {
  display: inline-block;
}

#contacto-form label.terminos {
  display: inline-block;
}

#contacto-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

#contacto-form input[type="text"],
#contacto-form input[type="email"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

#contacto-form button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#contacto-form button[type="submit"]:hover {
  background-color: #572364;
}