span.negrita {
  font-weight: bold;
}
h2.centro {
  color: #800080;
   text-align: center;
}

body p, ul {
  font-family: Verdana, monospace;
  font-size: 15px;
}

body h1, h2, h3{
  font-family: Verdana, monospace;
}