main article {
  min-height: 1000px;
}

/*Hoja de estilo formulario contacto*/
#contacto-form {
  margin: 0 auto;
  max-width: 850px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: Verdana;
  font-size: 13px;
}

#contacto-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#contacto-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#contacto-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#contacto-form input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}

#contacto-form label.izq {
  display: inline-block;
}

#contacto-form label.terminos {
  display: inline-block;
}

#contacto-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

#contacto-form input[type="text"],
#contacto-form input[type="email"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

#contacto-form button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#contacto-form button[type="submit"]:hover {
  background-color: #572364;
}

/*Hoja de estilo formulario login y registro*/
#login-registro-form {
  margin: 0 auto;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: Verdana;
  font-size: 13px;
}

#login-registro-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#login-registro-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#login-registro-form .inputbox{
    position: relative;
    margin: 30px 0;
}

#login-registro-form .inputbox label[for="nombreUsuario"],
#login-registro-form .inputbox label[for="apellido1Usuario"],
#login-registro-form .inputbox label[for="apellido2Usuario"],
#login-registro-form .inputbox label[for="emailUsuario"],
#login-registro-form .inputbox label[for="password"],
#login-registro-form .inputbox label[for="password2"],
#login-registro-form .inputbox label[for="direccionUsuario"] {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #000;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

#login-registro-form input:focus ~ label[for="nombreUsuario"],
#login-registro-form input:valid ~ label[for="nombreUsuario"],
#login-registro-form input:focus ~ label[for="apellido1Usuario"],
#login-registro-form input:valid ~ label[for="apellido1Usuario"],
#login-registro-form input:focus ~ label[for="apellido2Usuario"],
#login-registro-form input:valid ~ label[for="apellido2Usuario"],
#login-registro-form input:focus ~ label[for="emailUsuario"],
#login-registro-form input:valid ~ label[for="emailUsuario"], 
#login-registro-form input:focus ~ label[for="password"],
#login-registro-form input:valid ~ label[for="password"],
#login-registro-form input:focus ~ label[for="password2"],
#login-registro-form input:valid ~ label[for="password2"],
#login-registro-form input:focus ~ label[for="direccionUsuario"],
#login-registro-form input:valid ~ label[for="direccionUsuario"] {
  top: -5px;
}

#login-registro-form .inputbox input {
    width: 98%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 5px 0 5px;
    color: #000;
    border-bottom: 1px solid #000;
}

#login-registro-form .inputbox input {
    width: 98%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 5px 0 5px;
    color: #000;
    border-bottom: 1px solid #000;
}

#login-registro-form input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}

#login-registro-form label.terminos {
  display: inline-block;
}

#login-registro-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

#login-registro-form div {
  margin: 15px 0;
  position: relative;
}

#login-registro-form .inputbox #errorEmail, #errorPass, #errorNombre, #errorApellido, #errorPass, #errorPass2, #errorDir {
  color: red;
}

#login-registro-form #errorLogin {
  color: red;
}

#login-registro-form button[type="submit"] {
  background-color: #800080;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#login-registro-form button[type="submit"]:hover {
  background-color: #572364;
}

#login-registro-form p.account a {
  color: #800080;
  font-weight: bold;
}

/*Hoja de estilo formulario nuevo producto*/
#newP-form {
  margin: 0 auto;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: Verdana;
  font-size: 13px;
}

#newP-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#newP-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#newP-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#newP-form input[type="text"], textarea{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  
}

#newP-form button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#newP-form button[type="submit"]:hover {
  background-color: #572364;
}

#newP-form ul.botones li{
  font-size:20px;
  display:inline-block;
}


/*Cabecera*/

div#cabecera {
	height: 100px;
	text-align: center;
}

div#cabecera .contenedor a {
	text-decoration: none;
	color: black;
}

div#cabecera .contenedor {
	display: flex; //imagen y titulo se alinean y mueven juntos
	align-items: center; //centrado verticalmente
	flex-direction: column;
	justify-content: center; //centrado horizontalmente
	height: 100vh; //altura del contenedor como el 100% de la ventana
}

div#cabecera .logo {
	margin-top: 20px;
	width: 30px;
	height: 30px;
	margin-left: 30px;
}

div#cabecera .titulo {
	font-family: Monaco;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	margin-right: 30px;
}

div#cabecera .tienda, .blog, .nosotros {
	font-family: Tahoma;
	font-size: 13px;
	margin-top: 25px;
	margin-right: 15px;
}

div#cabecera .tienda:hover, .blog:hover, .nosotros:hover {
  text-decoration: underline;
}

div#cabecera .ayuda, .carrito, .cuenta, .iniciar {
	margin-top: 10px;
	margin-right: 5px;
	width: 50px;
	height: 35.72px;
}


/*pie*/

#pie {
  border-style: solid;
  border-color:#800080;
  background-color: #f2f2f2;
  margin-top:10px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;

}

#pie .horizontalpie {
  list-style: none; /* Quita el estilo de viñeta por defecto */
  padding: 0; /* Quita el relleno por defecto de la lista */
  display: flex;
  margin: 0;
}

#pie .horizontalpie li {
  margin: 30px;
  display: inline-block; /* Hace que cada elemento de la lista esté en línea */
}

#pie .horizontalpie li a {
  font-family: Tahoma;
  font-size: 13px;
  text-decoration: none; /* Quita el subrayado del enlace */
  padding: 10px; /* Agrega un relleno alrededor del enlace para separarlos */
  color: #333; /* Cambia el color del texto del enlace */
}

#pie .referencia:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
display: none;
}
