@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

main {
  padding: 3.7rem 0.7rem;
}

main article {
  min-height: 81vh;
}

/*Hoja de estilo formulario contacto*/
.contacto-form {
  margin: 3.125rem auto 0;
  max-width: 43.2rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem #ccc;
  font-family: Verdana;
  font-size: 0.812rem;
}

.contacto-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.contacto-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.contacto-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.contacto-form input[type="checkbox"] {
  display: inline;
  margin-right: 0.312rem;
}

.contacto-form label.izq {
  display: inline-block;
}

.contacto-form label.terminos {
  display: inline-block;
}

.contacto-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"] {
  width: 97%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.312rem;
  border: 0.0625rem solid #800080;
  resize: vertical;
}

.contacto-form textarea {
  width: 97%;
  height: 6.25rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.312rem;
  border: 0.0625rem solid #800080;
  resize: vertical;
}

button[type="submit"] {
  background: #800080;
  color: white;
  width: 100%;
  padding: 1rem;
  border: 0.125rem solid #800080;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1.2em;
}

button[type="submit"]:hover {
  background: none;
  color:#202020;
}

.contacto-form label {
  cursor: pointer;
}

.contacto-form input[type="radio"]:checked + label {
  color: #800080;
}

.contacto-form:hover input[type=radio]:not(:checked) + i{
  background: #572364;
}

/*Hoja de estilo formulario login y registro*/
.login-registro-form {
  margin: 3.125rem auto 0;
  max-width: 31.25rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem #ccc;
  font-family: Verdana;
  font-size: 0.812rem;
}

.login-registro-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.login-registro-form p {
  margin-left: 0.3rem;
}

.login-registro-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0.3rem;
  margin-bottom: 1.25rem;
}

.inputbox label {
  position: absolute;
  top:-0.312rem;
  left: 0.312rem;
  color: #000;
  font-size: 1em;
  pointer-events: none;
}

.inputbox input:focus + label {
  color: purple;
}

.inputbox input {
    width: 98%;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 0.312rem 0 0.312rem;
    color: #000;
    border-bottom: 0.0625rem solid #000;
}

.login-registro-form input[type="checkbox"] {
  display: inline;
  margin-right: 0.312rem;
}

.login-registro-form label.terminos {
  display: inline-block;
}

.login-registro-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

.login-registro-form div {
  margin: 1rem 0;
  position: relative;
}

.inputbox #errorEmail, #errorNombre, #errorApellido, #errorPass, #errorPass2, #errorDir, #errorNewPass, #errorNewPass2 {
  color: red;
}

#errorLogin, #errorRegistro {
  color: red;
}

.login-registro-form p.account a {
  color: #800080;
  font-weight: bold;
}

.inputbox .input-error {
  width: 98%;
  height: 2.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 0.312rem 0 0.312rem;
  border-bottom: 0.0625rem solid #FF0000;
}

.inputbox .input-correcto {
  width: 98%;
  height: 2.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 0.312rem 0 0.312rem;
  border-bottom: 0.0625rem solid #00cc32;
}

/*Hoja de estilo formulario nuevo producto*/
.newP-form, .newE-form {
  margin: 3.125rem auto 0;
  max-width: 31.25rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem #ccc;
  font-family: Verdana;
  font-size: 0.8125rem;
}

.newP-form fieldset, .newE-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.newP-form legend, .newE-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.newP-form label, .newE-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.625rem;
  margin-top: 0.3125rem;

}

.newP-form input[type="text"], textarea, .newE-form input[type="text"]{
  width: 95%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #800080;
  resize: vertical;
}

.newP-form button[type="submit"], .newE-form button[type="submit"]  {
  background-color: #800080;
  color: white;
  padding: 0.4375rem 0.4375rem;
  border: 0.125rem solid #800080;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  width:100%;
}

.newP-form button[type="submit"]:hover, .newE-form button[type="submit"]:hover {
  background: none;
  color:#202020;
}

.newP-form ul.botones li, .newE-form ul.botones li{
  display:inline-block;
  width:49.6%;
}

.newP-form label.izq {
  display: inline-block;
  margin-right: 0.8rem;
}

.newE-form label.dede {
  display: inline-block;
  margin-right: 0.8rem;
}

.newP-form input[type="radio"]:checked + label {
  color: #800080;
}

ul.tallas li{
  display:inline-block;
  margin-right: 0.0625rem;
  margin-bottom: 0.625rem;
  padding: 0.3125rem 0;
  border: 0.125rem solid #ccc;
  border-radius: 0.3125rem;
  text-align: center;
}

input.quantity{
  width: 50%;
  font-size: 0.875rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #800080;
  margin-bottom: 0.625rem;
}

.subir-archivo1{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem 1.25rem;
	border: 0.125rem dashed #eee;
	border-radius:0.3125rem;
}

.subir-archivo1 img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0.625rem;
}

.subir-archivo1 p {
  margin: 0;
  font-size: 0.875rem;
  color: #666;
}

.subir-archivo2 {
	position:relative;
	background-color: #800080;
	color: white;
	border: 0.125rem solid #800080;
	border-radius: 0.3125rem;
	cursor: pointer;
	margin-bottom: 0.625rem;
	font-size: 1.2em;
}

.upload_button{
	display: block;
	text-align: center;
	padding:0.625rem;
	cursor: pointer;
}

.subir-archivo2:hover {
	background:none;
  color:#202020;
}



.upload{
	position: absolute;
	inset: 0;
	opacity: 0;
}



/*Hoja de estilo formulario editar producto*/
.product-form {
  margin: 3.125rem auto 0;
  max-width: 31.25rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem #ccc;
  font-family: Verdana;
  font-size: 0.8125rem;
}

.product-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.product-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1.25rem;
  margin-top: 0.3125rem;
}

.product-form input[type="text"], textarea{
  width: 95%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #800080;
  resize: vertical;
}

.product-form label.izq {
  display: inline-block;
  margin-right: 0.8rem;
}
.product-form label.dede {
  display: inline-block;
  margin-right: 0.8rem;
}


.product-form input[type="radio"]:checked + label {
  color: #800080;
}

.contenido{
  height: 20vh
}

.product-form button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 0.4375rem 0.4375rem;
  border: 0.125rem solid #800080;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  width:100%;
}

.product-form button[type="submit"]:hover {
  background: none;
  color:#202020;
}

.product-form ul.botones li{
  display:inline-block;
  width:49.6%;
}

