@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

main {
  padding: 3.7rem 0.7rem;
}

main article {
  min-height: 81vh;
}

/*Hoja de estilo formulario contacto*/
.contacto-form {
  margin: 3.125rem auto 0;
  max-width: 43.2rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 0.625rem #ccc;
  font-family: Verdana;
  font-size: 0.812rem;
}

.contacto-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.contacto-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.contacto-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.contacto-form input[type="checkbox"] {
  display: inline;
  margin-right: 0.312rem;
}

.contacto-form label.izq {
  display: inline-block;
}

.contacto-form label.terminos {
  display: inline-block;
}

.contacto-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"] {
  width: 97%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.312rem;
  border: 0.0625rem solid #800080;
  resize: vertical;
}

.contacto-form textarea {
  width: 97%;
  height: 6.25rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.312rem;
  border: 0.0625rem solid #800080;
  resize: vertical;
}

button[type="submit"] {
  background-color: #800080;
  color: white;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.312rem;
  cursor: pointer;
  font-size: 1.2em;
}

button[type="submit"]:hover {
  background-color: #572364;
}

.contacto-form label {
  cursor: pointer;
}

.contacto-form input[type="radio"]:checked + label {
  color: #800080;
}

.contacto-form:hover input[type=radio]:not(:checked) + i{
  background: #572364;
}

/*Hoja de estilo formulario login y registro*/
.login-registro-form {
  margin: 3.125rem auto 0;
  max-width: 31.25rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem #ccc;
  font-family: Verdana;
  font-size: 0.812rem;
}

.login-registro-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.login-registro-form p {
  margin-left: 0.3rem;
}

.login-registro-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0.3rem;
  margin-bottom: 1.25rem;
}

.inputbox label {
  position: absolute;
  top:-0.312rem;
  left: 0.312rem;
  color: #000;
  font-size: 1em;
  pointer-events: none;
}

.inputbox input:focus + label {
  color: purple;
}

.inputbox input {
    width: 98%;
    height: 2.5rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 0.312rem 0 0.312rem;
    color: #000;
    border-bottom: 0.0625rem solid #000;
}

.login-registro-form input[type="checkbox"] {
  display: inline;
  margin-right: 0.312rem;
}

.login-registro-form label.terminos {
  display: inline-block;
}

.login-registro-form label.terminos a{
  color: #800080;
  font-weight: bold;
}

.login-registro-form div {
  margin: 1rem 0;
  position: relative;
}

.inputbox #errorEmail, #errorNombre, #errorApellido, #errorPass, #errorPass2, #errorDir {
  color: red;
}

#errorLogin, #errorRegistro {
  color: red;
}

.login-registro-form p.account a {
  color: #800080;
  font-weight: bold;
}

/*Hoja de estilo formulario nuevo producto*/
#newP-form, #newE-form {
  margin: 50px auto 0;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: Verdana;
  font-size: 13px;
}

#newP-form fieldset, #newE-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#newP-form legend, #newE-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#newP-form label, #newE-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;

}

#newP-form input[type="text"], textarea, #newE-form input[type="text"]{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #800080;
  resize: vertical;
}

#newP-form button[type="submit"], #newE-form button[type="submit"]  {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
  width:100%;
}

#newP-form button[type="submit"]:hover, #newE-form button[type="submit"]:hover {
  background-color: #572364;
}

#newP-form ul.botones li, #newE-form ul.botones li{
  display:inline-block;
  width:49.6%;
}

#newP-form ul.tallas li{
  font-size:14px;
  display:inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#newP-form input.quantity{
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #800080;
  margin-bottom: 10px;
}

.subir-archivo1{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 20px;
	border: 2px dashed #eee;
	border-radius:5px;
}

.subir-archivo1 img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.subir-archivo1 p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.subir-archivo2 {
	position:relative;
	background-color: #800080;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.upload_button{
	display: block;
	text-align: center;
	padding:10px;
	cursor: pointer;
}

.subir-archivo2:hover {
	background-color:#572364;
}



#upload-input{
	position: absolute;
	inset: 0;
	opacity: 0;
}



/*Hoja de estilo formulario editar producto*/
#product-form {
  margin: 50px auto 0;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: Verdana;
  font-size: 13px;
}

#product-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#product-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#product-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

#product-form input[type="text"], textarea{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #800080;
  resize: vertical;
}

#contenido{
  height: 20vh
}

#product-form button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
  width:100%;
}

#product-form button[type="submit"]:hover {
  background-color: #572364;
}

#product-form ul.botones li{
  display:inline-block;
  width:49.6%;
}

#product-form ul.tallas li{
  font-size:14px;
  display:inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#product-form input.quantity {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #800080;
  margin-bottom: 10px;
}

/*Cabecera*/
*{margin:0;}

#cabecera {
  background: white;
  padding: 0.5rem 0;
  box-shadow: 0 .5rem 1rem #f3eeee;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo{
  width: 20px;
  height: 20px;
}

.contenedor-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.letras{
  letter-spacing: 7px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #202020;
}

.letras:hover{
  color: #800080;
}

.contenedor-flex ul{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1px;
  margin:0;
  padding: 0;
  list-style: none;
}

.contenedor-flex ul li{
  display: inline-block;
}

.contenedor-flex ul li a{
  color: hsl(0, 5%, 19%);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.contenedor-flex ul li a:hover{
  color: #800080;
}

.ayuda, .carrito, .cuenta, .menu, .iniciar {
  width: 25px;
  height: 25px;
}

.ayuda:hover, .carrito:hover, .cuenta:hover, .menu:hover, .iniciar:hover {
  transform: scale(1.1);
}

.menu{display:none;}
#menu-icono{display:none;}


/*pie*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#pie {
  width: 100%;
  background-color: #80008041;
}

.grupo1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.boxLogo, .boxPaginas, .boxRedes{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.logopie {
  margin-top: 3.5rem;
  text-align: center;
  width: 15rem;
}

.instagram, .twitter{
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

.boxPaginas {
  text-align: center;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1px;
  list-style: none;
} 

.boxPaginas li{
  display: block;
  padding: 0.5rem;
}

.boxPaginas li a {
  color: #202020;
  text-decoration: none;
}

.boxPaginas li a:hover{
  color: #800080;
}

.boxRedes h2 {
  margin-top: 0.5rem;
  color: #202020;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.redSocial a{
  display: block;
  margin-top: 1rem;
}

.grupo1 .boxRedes .redSocial a:hover {
  color: #800080;
}

.instagram:hover, .twitter:hover{
  transform: scale(1.1);
}

.grupo2 {
  color: hsl(0, 50%, 94%);
  background-color: #572364;
  text-align: center;
  padding: 0.5rem;
}

.grupo2 small {
  font-size: small;
}

@media only screen and (max-width: 735px){
  /*CABECERA*/
  .contenedor-flex ul li a {
    padding: 0.5rem 0.5rem;
  }
  .logo{display:none;}

  /*PIE*/
  .logopie {
    margin-top: 3.5rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 635px){
  /*CABECERA*/
  .menu {
    display: block;
    margin: 0.5rem;
  }

  .menu:hover{
    cursor: pointer;
  }

  .paginas{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #80008041;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  #menu-icono:checked ~ .paginas{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .menu{
    top:0; left:0; right:0;
  }

  .paginas ul li{
    margin: 0.5rem;
    padding: 0.5rem;
    background: #f3eeee;
    display: block;
  }

  /*PIE*/
  .grupo1 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .boxLogo{
    text-align: center;
  }
  .logopie{
    width: 15rem;
    margin-top: 1rem;
  }
  .redSocial{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

::-webkit-scrollbar {
  display: none;
}