.contenedor-imagen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
}

.propuesta {
	width: 100vm;
	max-width: 100%;
}

body p {
	font-family: Verdana, monospace;
  	font-size: 15px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: justify;
}