.contenedor-cajas {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	height: 70vh;
}

.caja1 {
	min-width: 278.47px;
	min-height: 350px;
	max-width: 60%;
	max-height: 60%;
}

.caja2 {
	min-width: 278.47px;
	min-height: 350px;
	max-width: 60%;
	max-height: 60%;
}
