.contenedor-cajas {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	height: 70vh;
}

.caja1, .caja2 {
	max-width: 100%;
	max-height: 100%;
}

.caja2 {
	margin-left: 2px;
}

a:hover .caja1, a:hover .caja2 {
	opacity: 0.9;
}

