#login-form {
  margin: 0 auto;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: Verdana;
  font-size: 13px;
}

#login-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#login-form legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#login-form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#login-form button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#login-form button[type="submit"]:hover {
  background-color: #572364;
}

.error-message {
  color: red;
}

#login-form p.no-account a {
  color: #800080;
  font-weight: bold;
}