div#menuIzqTienda {
	padding: 20px;
	height: 500px;
	float: left;
	text-align: center;
  font-family: Verdana, monospace;
}

ul.filtros li{
font-size:20px;
display:block;
padding: 3px;

}

ul.checkfiltros li{
font-size:20px;
display:inline-block;

}

#menuIzqTienda button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#menuIzqTienda button[type="submit"]:hover {
  background-color: #572364;
}