.imagen {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.ref, span.negrita {
  font-weight: bold;
  font-family: Verdana, monospace;
  font-size: 15px;
}

h3 {
  font-family: Verdana, monospace;
}

h1 {
  font-family: Futura;
  font-size: 35px;
}