@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

main {
  padding: 3.8rem 0.7rem;
}

main article {
  min-height: 100vh;
}

/*Hoja de estilo miCuenta*/
.sesion {
  position: relative;
  background-color: purple;
  color: white;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 2%;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 300px;
}

.sesion h2 {
  font-size: 30px;
  line-height: 0.05;
  margin-left: 50px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.sesion p {
  font-size: 20px;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 50px;
  margin-bottom: 25px;
  color: white;
}

.listaMiCuenta {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.listaMiCuenta li {
  flex-basis: 33%; 
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
}

.listaMiCuenta li a {
  text-decoration: none;
  color: #333;
}

.listaMiCuenta li p {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.imagen-contenedor {
  width: 100%;
  max-width: 300px;
  height: 250px;
  border: 1px solid #800080;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
}

.imagen-contenedor:hover {
  border: 2px solid #572364;
}

.imagen-contenedor p {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 5px;
  background-color: rgba(128, 0, 128);
  color: #fff;
  z-index: 2;
}

.imagen-contenedor img {
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.imagen-contenedor:hover img {
  transform: scale(1.05);
}

/*Hoja de estilo miPerfil*/
#cabecera-perfil {
  position: relative;
  background-color: purple;
  color: white;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 2%;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
}

#cabecera-perfil h2 {
  font-size: 30px;
  line-height: 0.05;
  margin-left: 50px;
  margin-top:30px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: italic;
}

#cabecera-perfil p {
  font-size: 20px;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 50px;
  margin-bottom: 15px;
  color: white;
}

.perfil-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
}

#info-perfil, #info-dir {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#info-perfil h3, #info-dir h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 50px;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

#info-perfil .negrita {
  font-weight: bold;
}

#info-perfil p, #info-dir p {
  font-size: 1em;
  margin-bottom: 5px;
  margin-left: 50px;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
}

#info-perfil .botones {
  margin-top: 10px;
  margin-left: 57px;
}

#info-perfil .boton-edicion {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

.boton-edicion:before {
  content: "> ";
  color: purple;
  position: relative;
  right: 5px;
  top: 2px;
  font-size: 1.4em;
}

#info-perfil .boton-edicion:hover {
  border-bottom-color: purple;
}

/*Hoja de estilo Lista de deseos*/
#lista-deseos {
    text-align: center;
}

#lista-deseos h2 {
  text-align: center; 
  font-family: 'Ubuntu', sans-serif;
}

#lista-deseos p {
  font-family: 'Ubuntu', sans-serif;
}

#lista-deseos img.img-deseos{
  width: 750px;
  height: 500px; 
  display: block; 
  margin: 0 auto;
}

#productos {
  font-family: 'Ubuntu', sans-serif;
}

/*Hoja de estilo Miembros*/
#miembros {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #FFF;
}

#miembros h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Ubuntu', sans-serif;
}

#miembros h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

#miembros p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
}

#miembros .imagen {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#miembros .ref, span.negrita {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

#miembros .ref:hover {
  color: #572364;
}

#miembros ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#miembros li {
  margin: 0 20px;
}

#miembros a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

/*Hoja de estilo Detalles*/
#detalles {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#detalles h1 {
  font-size: 45px;
  font-weight: bold;
  color: #3c3c3c;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Ubuntu', sans-serif;
}

#detalles h2 {
  font-size: 30px;
  font-weight: bold;
  color: #800080;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

#detalles h3 {
  font-size: 24px;
  font-weight: bold;
  color: #3c3c3c;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

#detalles p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

#detalles ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
}

#detalles li:before {
  content: "\2022";
  color: #800080;
  display: inline-block;
  width: 1em;
}

#detalles .negrita {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

#detalles .centro {
  text-align: center;
}

/*Hoja de estilo Index*/
#inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#inicio .caja1, .caja2 {
  max-width: 100%;
  max-height: 100%;
}

#inicio .caja2 {
  margin-left: 2px;
}

#inicio a:hover .caja1, a:hover .caja2 {
  opacity: 0.9;
}

/*Hoja de estilo faqs*/
#faqs .t1 {
  margin-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: xx-large;
  font-weight: normal;
}

#faqs .t2 {
  ffont-family: 'Ubuntu', sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

#faqs-etiqueta1, #faqs-etiqueta2, #faqs-etiqueta3 {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 5px;
  width: 60px;
  background-color: #800080;
}

#faqs-rectangulo1, #faqs-rectangulo2, #faqs-rectangulo3 {
  height: 15%;
  font-family: 'Ubuntu', sans-serif;
}

#faqs-preg1, #faqs-preg2, #faqs-preg3 {
  height: 20%;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

#faqs-preg1 p, #faqs-preg2 p, #faqs-preg3 p{
  font-family: 'Ubuntu', sans-serif;
}

#faqs-resp1, #faqs-resp2, #faqs-resp3 {
  height: 20%;
  width: 100%;
  padding: 1rem 1rem;
  font-size: 13px;
  font-weight: normal;
  text-align: justify;
  background-color: #f2f2f2;
}

#faqs-resp1 p, #faqs-resp2 p, #faqs-resp3 p {
  padding: 0.5rem 0.5rem;
  font-family: 'Ubuntu', sans-serif;
}

/*Hoja de estilo Propuesta*/
#propuesta-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

#propuesta-imagen img {
  width: 100%;
  max-width: 100%;
}

#propuesta {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  margin-right: 40px;
  margin-top: 40px;
  text-align: justify;
}

#propuesta p{
  font-family: 'Ubuntu', sans-serif;
}

#propuesta h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

/*Hoja de estilo planificacion*/
#planificacion h2 {
  font-family: Futura;
  font-size: 35px;
  font-weight: bold;
}

#planificacion p, h3, th, td {
  font-family: Verdana;
    font-size: 15px;
}

#tabla-resumen {
  border-collapse: collapse;
  background-color: rgba(255,192,203,0.2);
}

#tabla-resumen th, td {
  border: 2px solid black;
}

/*Hoja de estilo Terminos y Condiciones*/
#terminosycondiciones h2 {
  font-family: Futura;
  font-size: 35px;
}

#terminosycondiciones ul, p {
  font-family: Verdana;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
}

/*Hoja de estilo Sobre Nosotros*/
#nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nosotros-texto {
  float: left;
  width: 60%;
}

#nosotros-texto .t1 {
  font-family: Futura;
  font-size: 30px;
  line-height: 0.05;
  color: black;
  font-weight: normal;
}

#nosotros-texto .t2 {
  font-size: 30px;
  line-height: 0.05;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
}

#nosotros-texto p {
  text-align: justify;
  font-family: Tahoma;
  margin-left: 30px;
  margin-right: 30px;
  color: #333;
}

#boton {
  padding: 7px 7px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-left: 30px;
}

#boton:hover {
  background-color: #572364;
}

#nosotros-imagen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  text-align: right;
  margin-right: 30px;
}

#nosotros-imagen .foto {
  min-height: 380px;
  min-width: 185.13px;
  max-width: 70%;
}

/*Hoja de estilo Editar producto*/
#editar-prod{
    text-align: center;
}

#editar-prod h2 {
  text-align: center; 
}

#editar-prod img.img-editarp{
  width: 750px;
  height: 500px; 
  display: block; 
  margin: 0 auto;
}

/*Hoja de estilo Mostrar Producto*/
#producto{
width:100%;
}

#producto .imgProducto {
	float: left;
	margin-right: 20px;
	width: 400px;
}

#producto .producto {
	overflow: hidden;
}

#producto .corazon {

	width: 15px;
	height: 15px;

}

#producto ul.botones li{
font-size:20px;
display:inline-block;
}

#producto button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#producto button[type="submit"]:hover {
  background-color: #572364;
}

.pago-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pago-content form {
    text-align: center;
}

/*Hoja de estilo Blog*/

#blog .titulo1 {
  font-family: Futura;
  font-size: 35px;
  font-weight: normal;
}

#blog .titulo2 {
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
}

#rectangulo {
  margin-top: 40px;
  background-color: #f2f2f2;
  height: 20%;
  width: 100%;
  padding: 2px;
}

#rectangulo .t1, .t2, .t3 {
  margin-left: 15px;
  font-family: Verdana;
  font-size: 10px;
}

#rectangulo .t1 {
  line-height: 1;
  font-family: Monaco;
  font-size: 20px;
}

#rectangulo .t3 {
  margin-top: 40px;
}

#rectangulo a {
  text-decoration: none;
  color: black;
}

#etiqueta {
  background-color: #800080;
  height: 10px;
  width: 100vm;
}

#entAdd, #entDel {
  padding: 7px 7px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-left: 30px;
}

#entAdd:hover, #entDel:hover {
  background-color: #572364;
}

#botonesBlog li{
font-size:20px;
display:inline-block;
}

#blog button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#blog button[type="submit"]:hover {
  background-color: #572364;
}

/*Hoja de estilo Bocetos*/
#bocetos h1 {
  font-family: Futura;
  font-size: 35px;
}

#bocetos h3 {
  font-family: Verdana;
}

#bocetos p {
  font-family: Verdana;
  font-size: 15px;
}

#bocetos img {
  width: 540px;
  height: 370px;
}

/*Hoja de estilo Entrada Blog*/
#entradaBlog {
  width: 80%;
  margin: 0 auto;
}

#entradaBlog h2 {
  text-align: center; 
}

#entrada_contenido{
  display: flex;
  justify-content: center;
}

#entrada_texto {
  width: 60%;
  margin-right: 20px; 
}

#entrada_imagen {
  width: 30%;
  float: right; 
}

#entrada_imagen img {
  max-width: 100%;
  height: auto;
}

#entradas_links {
  width: 20%;
  float: left;
  margin-right: 20px;
}

/*Cabecera*/
*{margin:0;}

#cabecera {
  background: white;
  padding: 0.5rem 0;
  box-shadow: 0 .5rem 1rem #f3eeee;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo{
  width: 20px;
  height: 20px;
}

.contenedor-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.letras{
  letter-spacing: 7px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #202020;
}

.letras:hover{
  color: #800080;
}

.contenedor-flex ul{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  margin:0;
  padding: 0;
  list-style: none;
}

.contenedor-flex ul li{
  display: inline-block;
}

.contenedor-flex ul li a{
  color: hsl(0, 5%, 19%);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.contenedor-flex ul li a:hover{
  color: #800080;
}

.ayuda, .carrito, .cuenta, .menu, .iniciar {
  width: 25px;
  height: 25px;
}

.ayuda:hover, .carrito:hover, .cuenta:hover, .menu:hover, .iniciar:hover {
  transform: scale(1.1);
}

.menu{display:none;}
#menu-icono{display:none;}


@media only screen and (max-width: 740px){
  .contenedor-flex ul li a {
    padding: 0.5rem 0.5rem;
  }

  .logo{display:none;}
}

@media only screen and (max-width: 635px){
  .menu {
    display: block;
    margin: 0.5rem;
  }

  .menu:hover{
    cursor: pointer;
  }

  .paginas{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #80008041;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  #menu-icono:checked ~ .paginas{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .menu{
    top:0; left:0; right:0;
  }

  .paginas ul li{
    margin: 0.5rem;
    padding: 0.5rem;
    background: #f3eeee;
    display: block;
  }
}


/*pie*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#pie {
  width: 100%;
  background-color: #80008041;
}

.grupo1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.boxLogo, .boxPaginas, .boxRedes{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.logopie {
  margin-top: 3.5rem;
  text-align: center;
  width: 15rem;
}

.instagram, .twitter{
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

.boxPaginas {
  text-align: center;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1px;
  list-style: none;
} 

.boxPaginas li{
  display: block;
  padding: 0.5rem;
}

.boxPaginas li a {
  color: #202020;
  text-decoration: none;
}

.boxPaginas li a:hover{
  color: #800080;
}

.boxRedes h2 {
  margin-top: 0.5rem;
  color: #202020;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.redSocial a{
  display: block;
  margin-top: 1rem;
}

.grupo1 .boxRedes .redSocial a:hover {
  color: #800080;
}

.instagram:hover, .twitter:hover{
  transform: scale(1.1);
}

.grupo2 {
  color: hsl(0, 50%, 94%);
  background-color: #572364;
  text-align: center;
  padding: 0.5rem;
}

.grupo2 small {
  font-size: 15px;
}

@media only screen and (max-width: 740px){
  .logopie {
    margin-top: 3.5rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 635px){
  .grupo1 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .boxLogo{
    text-align: center;
  }
  .logopie{
    width: 15rem;
    margin-top: 1rem;
  }
  .redSocial{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}





/*mostrar producto*/

h2.error {
font-size:3em;
text-align: center;
margin-bottom: 20%;
}


#producto{
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: Verdana;
}
#producto .imgProducto {
    width: 40%;
    height: auto;
    margin-right: 20px;
  }

  #producto h2 {
    margin: 0;
  font-size: 1.6em;
margin-bottom: 10px;
  }

 #producto p {
  margin: 0;
  }

  #producto h3, .comments h3 {
  color: #800080;
  font-size: 1.2em;
  }

  #producto .infoProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  #producto .product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
    
  .product-form label.talla {
    margin-right: 10px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  
  }

  .stockTallas {
    margin-top: 10px;
    display: inline-block;
  }

  .stockTallas p {
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  input[type="radio"]{
    accent-color:#800080;
}

input.quantity {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #800080;
  margin-bottom: 10px;
}

  div.comments {
    clear: both;
    text-align: center;
  }

::-webkit-scrollbar {
  display: none;
}

/*mostrar entrada blog*/
  
  #entrada{
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-family: Verdana;
  }
  #entrada .imgEntrada {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 600px;
    }

    #entrada button[type="submit"] {
      background-color: #800080;
      color: white;
      padding: 7px 7px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
      font-size: 1.2em;
    }

    #entrada ul.botones li{
      font-size:20px;
      display:inline-block;
      }

      #entrada ul{
       text-align: center;
        }
     
      #entrada button[type="submit"]:hover {
        background-color: #572364;
      }

      #entrada h2 {
        font-size: 2rem;
        font-weight: bold;
        margin: 1.5rem 0;
        text-align: center;
      }

      #entrada p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 1.5rem 0;
        text-align: justify;
        
      }
     #entrada .autor {
        font-size: 1rem;
        font-style: italic;
        text-align: right;
        margin-top: 1.5rem;
      }