main article {
  min-height: 1000px;
}

/*Hoja de estilo miCuenta*/
#sesion {
  position: relative;
  background-color: purple;
  color: white;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 2%;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 300px;
}

#sesion h2 {
  font-size: 30px;
  line-height: 0.05;
  margin-left: 50px;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
}

#sesion p {
  font-size: 20px;
  text-align: justify;
  font-family: Tahoma;
  margin-left: 50px;
  color: white;
}

.listaMiCuenta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.listaMiCuenta li{
  font-size:20px;
  display: flex;
  padding:20px;
}

.listaMiCuenta li a {
  text-decoration: none;
  color: #333;

}

.listaMiCuenta li p {
  text-align: center;
}

.imagen {
  width: 350px;
  height: 250px;
  border: 1px solid #800080;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 20px;
  overflow: hidden;
}

.imagen:hover {
  border: 2px solid #572364;
}

.imagen-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.imagen-contenedor img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.imagen-contenedor:hover img {
  transform: translate(-50%, -50%) scale(1.05);
}

.imagen-texto {
  text-align: center;
}

/*Hoja de estilo miPerfil*/
#cabecera-perfil {
  background-color: #800080; /* Fondo morado */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left; /* Texto alineado a la izquierda */
  font-family: Verdana;
  color: white;
}

#cabecera-perfil h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#info-perfil {
  padding: 10px;
  text-align: left;
}

#info-perfil .negrita {
  font-weight: bold;
}

/*Hoja de estilo Lista de deseos*/
#lista-deseos {
    text-align: center;
}

#lista-deseos h2 {
  text-align: center; 
}

#lista-deseos img.img-deseos{
  width: 750px;
  height: 500px; 
  display: block; 
  margin: 0 auto;
}

/*Hoja de estilo Miembros*/
#miembros .imagen {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#miembros .ref, span.negrita {
  font-weight: bold;
  font-family: Verdana;
  font-size: 15px;
}

#miembros h3 {
  font-family: Verdana;
}

#miembros h1 {
  font-family: Futura;
  font-size: 35px;
}

/*Hoja de estilo Detalles*/
#detalles span.negrita {
  font-weight: bold;
}
#detalles h2.centro {
  color: #800080;
  text-align: center;
}

#detalles p, ul {
  font-family: Verdana;
  font-size: 15px;
}

#detalles h2, h3{
  font-family: Verdana;
}

#detalles h1 {
  font-family: Futura;
  font-size: 35px;
}

/*Hoja de estilo inicio*/
#inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#inicio .caja1, .caja2 {
  max-width: 100%;
  max-height: 100%;
}

#inicio .caja2 {
  margin-left: 2px;
}

#inicio a:hover .caja1, a:hover .caja2 {
  opacity: 0.9;
}

/*Hoja de estilo faqs*/
#faqs .t1 {
  font-family: Futura;
  font-size: 35px;
  font-weight: normal;
}

#faqs .t2 {
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
}

#faqs-etiqueta1, #faqs-etiqueta2, #faqs-etiqueta3 {
  margin-top: 20px;
  height: 5px;
  width: 60px;
  background-color: #800080;
}

#faqs-rectangulo1, #faqs-rectangulo2, #faqs-rectangulo3 {
  height: 15%;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Verdana;
}

#faqs-preg1, #faqs-preg2, #faqs-preg3 {
  height: 20%;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

#faqs-resp1, #faqs-resp2, #faqs-resp3 {
  height: 20%;
  width: 100%;
  padding: 2px;
  font-size: 13px;
  font-weight: normal;
  text-align: justify;
  background-color: #f2f2f2;
}

#faqs-resp1 p, #faqs-resp2 p, #faqs-resp3 p {
  margin-left: 10px;
  margin-right: 10px;
}

/*Hoja de estilo Index*/
#propuesta-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

#propuesta-imagen img {
  width: 100%;
  max-width: 100%;
}

#propuesta {
  font-family: Verdana;
  font-size: 15px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: justify;
}

#propuesta h2 {
  font-family: Futura;
  text-align: center;
}

/*Hoja de estilo planificacion*/
#planificacion h2 {
  font-family: Futura;
  font-size: 35px;
  font-weight: bold;
}

#planificacion p, h3, th, td {
  font-family: Verdana;
    font-size: 15px;
}

#tabla-resumen {
  border-collapse: collapse;
  background-color: rgba(255,192,203,0.2);
}

#tabla-resumen th, td {
  border: 2px solid black;
}

/*Hoja de estilo Terminos y Condiciones*/
#terminosycondiciones h2 {
  font-family: Futura;
  font-size: 35px;
}

#terminosycondiciones ul, p {
  font-family: Verdana;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
}

/*Hoja de estilo Sobre Nosotros*/
#nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nosotros-texto {
  float: left;
  width: 60%;
}

#nosotros-texto .t1 {
  font-family: Futura;
  font-size: 30px;
  line-height: 0.05;
  color: black;
  font-weight: normal;
}

#nosotros-texto .t2 {
  font-size: 30px;
  line-height: 0.05;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
}

#nosotros-texto p {
  text-align: justify;
  font-family: Tahoma;
  margin-left: 30px;
  margin-right: 30px;
  color: #333;
}

#boton {
  padding: 7px 7px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-left: 30px;
}

#boton:hover {
  background-color: #572364;
}

#nosotros-imagen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  text-align: right;
  margin-right: 30px;
}

#nosotros-imagen .foto {
  min-height: 380px;
  min-width: 185.13px;
  max-width: 70%;
}

/*Hoja de estilo Editar producto*/
#editar-prod{
    text-align: center;
}

#editar-prod h2 {
  text-align: center; 
}

#editar-prod img.img-editarp{
  width: 750px;
  height: 500px; 
  display: block; 
  margin: 0 auto;
}

/*Hoja de estilo Mostrar Producto*/
#producto{
width:100%;
}

#producto .imgProducto {
	float: left;
	margin-right: 20px;
	width: 400px;
}

#producto .producto {
	overflow: hidden;
}

#producto .corazon {

	width: 15px;
	height: 15px;

}

#producto ul.botones li{
font-size:20px;
display:inline-block;
}

#producto button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#producto button[type="submit"]:hover {
  background-color: #572364;
}

.pago-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pago-content form {
    text-align: center;
}

/*Hoja de estilo Blog*/

#blog .titulo1 {
  font-family: Futura;
  font-size: 35px;
  font-weight: normal;
}

#blog .titulo2 {
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
}

#rectangulo {
  margin-top: 40px;
  background-color: #f2f2f2;
  height: 20%;
  width: 100%;
  padding: 2px;
}

#rectangulo .t1, .t2, .t3 {
  margin-left: 15px;
  font-family: Verdana;
  font-size: 10px;
}

#rectangulo .t1 {
  line-height: 1;
  font-family: Monaco;
  font-size: 20px;
}

#rectangulo .t3 {
  margin-top: 40px;
}

#rectangulo a {
  text-decoration: none;
  color: black;
}

#etiqueta {
  background-color: #800080;
  height: 10px;
  width: 100vm;
}

#entAdd, #entDel {
  padding: 7px 7px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-left: 30px;
}

#entAdd:hover, #entDel:hover {
  background-color: #572364;
}

#botonesBlog li{
font-size:20px;
display:inline-block;
}

#blog button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#blog button[type="submit"]:hover {
  background-color: #572364;
}

/*Hoja de estilo Bocetos*/
#bocetos h1 {
  font-family: Futura;
  font-size: 35px;
}

#bocetos h3 {
  font-family: Verdana;
}

#bocetos p {
  font-family: Verdana;
  font-size: 15px;
}

#bocetos img {
  width: 540px;
  height: 370px;
}

/*Hoja de estilo Entrada Blog*/
#entradaBlog {
  width: 80%;
  margin: 0 auto;
}

#entradaBlog h2 {
  text-align: center; 
}

#entrada_contenido{
  display: flex;
  justify-content: center;
}

#entrada_texto {
  width: 60%;
  margin-right: 20px; 
}

#entrada_imagen {
  width: 30%;
  float: right; 
}

#entrada_imagen img {
  max-width: 100%;
  height: auto;
}

#entradas_links {
  width: 20%;
  float: left;
  margin-right: 20px;
}

/*Cabecera*/

div#cabecera {
	height: 100px;
	text-align: center;
}

div#cabecera .contenedor a {
	text-decoration: none;
	color: black;
}

div#cabecera .contenedor {
	display: flex; //imagen y titulo se alinean y mueven juntos
	align-items: center; //centrado verticalmente
	flex-direction: column;
	justify-content: center; //centrado horizontalmente
	height: 100vh; //altura del contenedor como el 100% de la ventana
}

div#cabecera .logo {
	margin-top: 20px;
	width: 30px;
	height: 30px;
	margin-left: 30px;
}

div#cabecera .titulo {
	font-family: Monaco;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	margin-right: 30px;
}

div#cabecera .tienda, .blog, .nosotros {
	font-family: Tahoma;
	font-size: 13px;
	margin-top: 25px;
	margin-right: 15px;
}

div#cabecera .tienda:hover, .blog:hover, .nosotros:hover {
  text-decoration: underline;
}

div#cabecera .ayuda, .carrito, .cuenta, .iniciar {
	margin-top: 10px;
	margin-right: 5px;
	width: 50px;
	height: 35.72px;
}


/*pie*/

#pie {
  border-style: solid;
  border-color:#800080;
  background-color: #f2f2f2;
  margin-top:10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  clear: both;
}

#pie .horizontalpie {
  list-style: none; /* Quita el estilo de viñeta por defecto */
  padding: 0; /* Quita el relleno por defecto de la lista */
  display: flex;
  margin: 0;
}

#pie .horizontalpie li {
  margin: 30px;
  display: inline-block; /* Hace que cada elemento de la lista esté en línea */
}

#pie .horizontalpie li a {
  font-family: Tahoma;
  font-size: 13px;
  text-decoration: none; /* Quita el subrayado del enlace */
  padding: 10px; /* Agrega un relleno alrededor del enlace para separarlos */
  color: #333; /* Cambia el color del texto del enlace */
}

#pie .referencia:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
display: none;
}


/*mostrar producto*/

h2.error {
font-size:3em;
text-align: center;
margin-bottom: 20%;
}


#producto{
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: Verdana;
}
#producto .imgProducto {
    width: 40%;
    height: auto;
    margin-right: 20px;
  }

  #producto h2 {
    margin: 0;
  font-size: 1.6em;
margin-bottom: 10px;
  }

 #producto p {
  margin: 0;
  }

  #producto h3, .comments h3 {
  color: #800080;
  font-size: 1.2em;
  }

  #producto .infoProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  #producto .product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
    
  .product-form label.talla {
    margin-right: 10px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  
  }

  
  .stockTallas {
    margin-top: 10px;
    display: inline-block;
  }

  .stockTallas p {
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  input[type="radio"]{
    accent-color:#800080;
}

input.quantity {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #800080;
  margin-bottom: 10px;
}

  div.comments {
    clear: both;
    text-align: center;
  }

