/*Hoja de estilo miCuenta*/
/*Sesión iniciada*/
#sesion {
  background-color: #800080; /* Fondo morado */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left; /* Texto alineado a la izquierda */
  font-family: Verdana;
  color: white;
}

#sesion h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#botones-cuenta {
  display: flex;
  justify-content: center;
}

#botones-cuenta button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  font-family: Verdana;
}

#botones-cuenta button[type="submit"] {
  background-color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-right: 10px;
}

#botones-cuenta button[type="submit"]:hover {
  background-color: #F8F8FF;
}

#botones-cuenta a {
  text-decoration: none;
  color: #800080;
}

/*Sesión no iniciada*/
#no-sesion {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#no-sesion button[type="submit"] {
  background-color: #800080;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#no-sesion button[type="submit"]:hover {
  background-color: #572364;
}

#no-sesion a {
  text-decoration: none;
  color: white;
}

/*Hoja de estilo miPerfil*/
#cabecera-perfil {
  background-color: #800080; /* Fondo morado */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left; /* Texto alineado a la izquierda */
  font-family: Verdana;
  color: white;
}

#cabecera-perfil h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#info-perfil {
  padding: 10px;
  text-align: left;
}

#info-perfil .negrita {
  font-weight: bold;
}

/*Hoja de estilo Lista de deseos*/
#lista-deseos {
    text-align: center;
}

#lista-deseos h2 {
  text-align: center; 
}

#lista-deseos img.img-deseos{
  width: 750px;
  height: 500px; 
  display: block; 
  margin: 0 auto;
}

/*Hoja de estilo Miembros*/
#miembros .imagen {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#miembros .ref, span.negrita {
  font-weight: bold;
  font-family: Verdana, monospace;
  font-size: 15px;
}

#miembros h3 {
  font-family: Verdana, monospace;
}

#miembros h1 {
  font-family: Futura;
  font-size: 35px;
}

/*Hoja de estilo Detalles*/
#detalles span.negrita {
  font-weight: bold;
}
#detalles h2.centro {
  color: #800080;
  text-align: center;
}

#detalles p, ul {
  font-family: Verdana, monospace;
  font-size: 15px;
}

#detalles h2, h3{
  font-family: Verdana, monospace;
}

#detalles h1 {
  font-family: Futura;
  font-size: 35px;
}