h1 {
	font-family: Futura;
	font-size: 35px;
	font-weight: bold;
}

p, h3, th, td {
	font-family: Verdana, monospace;
  	font-size: 15px;
}

.tabla-resumen {
	border-collapse: collapse;
	background-color: rgba(255,192,203,0.2);
}

.tabla-resumen th, .tabla-resumen td {
	border: 2px solid black;
}