.titulo1 {
	font-size: 35px;
	font-style: italic;
	line-height: 0.05;
}

.titulo2 {
	font-size: 35px;
	font-weight: bold;
	font-style: italic;
	line-height: 0.05;
}

body p {
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}

.boton {
	padding: 7px 7px;
	background-color: #800080;
  	color: white;
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
  	margin-bottom: 10px;
  	font-size: 1.2em;
  	margin-left: 30px;
}

.texto-imagen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.texto {
	float: left;
	width: 60%;
}

.imagen {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 30%;
	text-align: right;
	margin-right: 30px;
}

.foto {
	min-height: 380px;
	min-width: 185.13px;
	max-width: 70%;
}
