#tienda {
	background-color: white;
	text-align: center;
	font-family: Verdana;
	
}

#tienda ul.productos {
	 overflow-x: hidden;
	 	height: 450px;
}

#tienda ul.productos li{
font-size:20px;
display:inline-block;
	padding:20px;

}

#tienda ul.botones li{
font-size:20px;
display:inline-block;
}

#tienda .productos li a {
  text-decoration: none;
  color: #333;

}

#tienda .imgProducto {
	width: 300px;


}

#tienda .botonCompras {
padding: 5px 100px;
}

#tienda ::-webkit-scrollbar {
display: none;
}

#tienda button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#tienda button[type="submit"]:hover {
  background-color: #572364;
}

#tienda .total-price {
    margin-left: 10px;
}

#tienda table.compras {
	border-collapse: collapse;
	border: 3px solid black;
	margin: 0 auto;
	
}

#tienda th{
  padding: 15px;
  border:2px solid black;
  background-color:#800080;
  color: white;
  font-family: Verdana;
  font-size: 1.2em;
	width:10%;
}

#tienda td{
  padding: 5px;
  border:2px solid  black;
  font-family: Verdana;
  font-size: 1em;
	width:10%;

}