@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

main {
  padding: 7rem 0.7rem;
}

main article {
  min-height: 81vh;
}

#tienda {
	background-color: white;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


#tienda ul.lista-productos li{
  font-size:20px;
  display:inline-block;
  padding:20px;
}

#tienda ul.botones li{
  font-size:20px;
  display:inline-block;
}

#tienda .lista-productos li a {
  text-decoration: none;
  color: #333;
}

#tienda .precio {
  text-decoration: none;
  color: #800080;
  font-size:110%;
}

#tienda .sin-stock{
	color: red;
}

#tienda .producto-imagen {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border: 1px solid #800080;
  padding: 10px;
  box-sizing: border-box;
}

#tienda .producto-imagen:hover {
  border: 2px solid #572364;
}

#tienda .producto-imagen img {
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#tienda .img-sin-stock {
	opacity: 0.5;
}

#tienda .producto-imagen:hover img {
  transform: scale(1.05);
}

#tienda .botonCompras {
padding: 5px 100px;
}

::-webkit-scrollbar {
  display: none;
}

#tienda button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#tienda button[type="submit"]:hover {
  background-color: #572364;
}

#tienda .total-price {
  margin-left: 10px;
}

#tienda table.compras {
	border-collapse: collapse;
	border: 3px solid black;
	margin: 0 auto;
}

#tienda th{
  padding: 15px;
  border:2px solid black;
  background-color:#800080;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
	width:10%;
}

#tienda td{
  padding: 5px;
  border:2px solid  black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
	width:10%;
}

#tienda tr:hover {
  background-color: #f5f5f5;
}

#tienda .titulo1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: xx-large;
  font-weight: normal;
}
#tienda .titulo2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

#tienda #productos {
  margin-top: auto;
}

#tienda .eliminar-producto {
  margin-top: 10px;
}

#tienda .eliminar-producto input[type="number"] {
  width: 60px;
  height: 20px;
  font-size: 16px;
  padding: 5px;
}

#tienda button[name="remove_quantity"] {
  font-size: 1em;
}

#tienda .no-prod {
  margin-top: 40px;
  font-weight: bold;
  font-size: 24px;
}

#tienda .fin-carrito {
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
}

#tienda .total-price {
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1em;
  width:10%;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  margin-top: 10px;
}

#tienda .fin-carrito p {
  font-size: 1.2em;
  color: red;
  text-align: center;
}

/*Cabecera*/
*{margin:0;}

#cabecera {
  background: white;
  padding: 0.5rem 0;
  box-shadow: 0 .5rem 1rem #f3eeee;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo{
  width: 20px;
  height: 20px;
}

.contenedor-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.letras{
  letter-spacing: 7px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #202020;
}

.letras:hover{
  color: #800080;
}

.contenedor-flex ul{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1px;
  margin:0;
  padding: 0;
  list-style: none;
}

.contenedor-flex ul li{
  display: inline-block;
}

.contenedor-flex ul li a{
  color: hsl(0, 5%, 19%);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.contenedor-flex ul li a:hover{
  color: #800080;
}

.ayuda, .carrito, .cuenta, .menu, .iniciar {
  width: 25px;
  height: 25px;
}

.ayuda:hover, .carrito:hover, .cuenta:hover, .menu:hover, .iniciar:hover {
  transform: scale(1.1);
}

.menu{display:none;}
#menu-icono{display:none;}


/*pie*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#pie {
  width: 100%;
  background-color: #80008041;
}

.grupo1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.boxLogo, .boxPaginas, .boxRedes{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.logopie {
  margin-top: 3.5rem;
  text-align: center;
  width: 15rem;
}

.instagram, .twitter{
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

.boxPaginas {
  text-align: center;
  font-weight: bold;
  font-size: small;
  letter-spacing: 1px;
  list-style: none;
} 

.boxPaginas li{
  display: block;
  padding: 0.5rem;
}

.boxPaginas li a {
  color: #202020;
  text-decoration: none;
}

.boxPaginas li a:hover{
  color: #800080;
}

.boxRedes h2 {
  margin-top: 0.5rem;
  color: #202020;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.redSocial a{
  display: block;
  margin-top: 1rem;
}

.grupo1 .boxRedes .redSocial a:hover {
  color: #800080;
}

.instagram:hover, .twitter:hover{
  transform: scale(1.1);
}

.grupo2 {
  color: hsl(0, 50%, 94%);
  background-color: #572364;
  text-align: center;
  padding: 0.5rem;
}

.grupo2 small {
  font-size: small;
}

@media only screen and (max-width: 735px){
  /*CABECERA*/
  .contenedor-flex ul li a {
    padding: 0.5rem 0.5rem;
  }
  .logo{display:none;}

  /*PIE*/
  .logopie {
    margin-top: 3.5rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 635px){
  /*CABECERA*/
  .menu {
    display: block;
    margin: 0.5rem;
  }

  .menu:hover{
    cursor: pointer;
  }

  .paginas{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #80008041;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  #menu-icono:checked ~ .paginas{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .menu{
    top:0; left:0; right:0;
  }

  .paginas ul li{
    margin: 0.5rem;
    padding: 0.5rem;
    background: #f3eeee;
    display: block;
  }

  /*PIE*/
  .grupo1 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .boxLogo{
    text-align: center;
  }
  .logopie{
    width: 15rem;
    margin-top: 1rem;
  }
  .redSocial{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

/*Menu Izq*/
#menuIzqTienda {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

#tienda.mostrarMenu {
  margin-left: 300px; 
}

#pie.mostrarMenu {
	width: auto;
  margin-left: 300px;
}

#menuIzqTienda.mostrarMenu {
  left: 0;
  z-index: 3;
  top: 60px;
}

#menuIzqTienda:not(.mostrarMenu) {
  left: -300px;
  top: 60px;

}

#menuIzqTienda h2{
	font-family: 'Ubuntu', sans-serif;
  font-size: xx-large;
  font-weight: normal;
  padding-bottom: 10px;
}

#campo-busqueda {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #800080;
  border-radius: 5px;
}

#menuIzqTienda ul.filtros li{
  display:block;
  padding: 3px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

#menuIzqTienda ul.checkfiltros li{
  display:inline-block;
}

#menuIzqTienda button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  width:100%;
}

#menuIzqTienda button[type="submit"]:hover {
  background-color: #572364;
}

#menuIzqTienda input[type=checkbox] {
	margin-right: 10px;
}

#menuIzqTienda input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #800080;
  border-radius: 5px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #800080;
  border: none;
  border-radius: 50%;
}





