#tienda {
	background-color: white;
	text-align: center;
	font-family: Verdana;
}

ul.productos {
	 overflow-x: hidden;
	 	height: 450px;
}

ul.productos li{
font-size:20px;
display:inline-block;
	padding:20px;

}

ul.botones li{
font-size:20px;
display:inline-block;

}

.productos li a {
  text-decoration: none;
  color: #333;

}

.imgProducto {
	width: 400px;
	height: 200px;

}

.botonCompras {
padding: 5px 100px;
}

::-webkit-scrollbar {
display: none;
}

#tienda button[type="submit"] {
  background-color: #800080;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
}

#tienda button[type="submit"]:hover {
  background-color: #572364;
}

.total-price {
    margin-left: 10px;
}